body {
    margin: 0px;
    font-family:Verdana,sans-serif;font-size:15px;line-height:1.5
}

div {
    margin-top: 10px;
    /*margin-right: auto;*/
    margin-bottom: 30px;
    margin-left: 10px;

    border: 1px solid #E1E1E1;
    width: 1024px;
    background-color: #f1f1f1;
}

nav {
    display: block;
}

input
{
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 100%, 50% calc(-1px + 100%);
    background-size: 0px 2px, 100% 1px;
    border: 0 0 0 0;
    border-bottom-right-radius: 6px;
    border-bottom-color: rgb(85, 85, 85);  
}

form[action='index.php?page=quiz']{
position:relative;
margin: 30px 10px;
}
/*select only <p> and <select> inside the quiz form*/
form[action='index.php?page=quiz'] p,
form[action='index.php?page=quiz'] select{
display:inline-block;
}